name: CI
on:
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    env:
      CI: true

    steps:
      - uses: actions/checkout@v5
      - name: use node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: run tests
        run: yarn test
